
body {
    margin: 20px;
    background-color: teal;
    background-image: url("./Souls3.jpg");
}

.nav1 {
    height: 100px;
    background-color: #333;
    font-size: xx-large;
    align-items: center;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.myList {
    background-image: url("./Souls3.jpg");
}

.lesson2 {
    
    background-color: rgb(17, 176, 224);
    font-size: 30px;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
    border-bottom: lpx solid #cecece;
}

.todo-list{
    margin: auto;
    width: 50%;
    background-color: #eee;
    background-image: url("NotePaper.bmp");
    display: flex;
    flex-direction: column;
    align-items: center;
    border: l0px solid #efefef;
    box-shadow: 
        0 1px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0,0,0,0.15);
    
    padding: 30px;
    margin-bottom: 70px;
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: lpx solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

.note-style {
    margin-top: 30px;
    margin-bottom: 30px;

}

input[type=checkbox] {
    margin-right: 10px;
}